* 
{
  padding: 0%;
  margin: 0%;

  
}


h1{
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-size: 30px;
  text-shadow: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 15px solid palevioletred;
  height: 150px;
  
  

}

h3{
  text-align: center;
  background: #f79422;
  height: 80px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

h4{
  margin-top: 8.5%;
  color: #fff;
  padding-left: 25%;
  background: palevioletred;
  height: 300px;
  padding-top: 90px;
  border-radius: 10px;
  border: 10px solid green;
  font-family: 'Monoton', cursive;
  margin-bottom: 30px;
  
  
}
strong{
  font-size: 30px;
  color: green;
}

header{
  position: fixed;
  background: palevioletred;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  top: 0;
  display: flex;
  border-radius: 10px;

  
}


nav{
  float: right;
  padding-left: 730px;
  
  
}




nav li{
  display: inline-block;
  margin-top: 10px;

  
}

nav li a{
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
  float: right;
}

nav li a:hover{
  background: #fff;
  color: goldenrod;
  size: 20px;
}

.logo{
  width: 50px;
  float: left;
  padding-left: 10px;
  
  

}
.img-pep{
  float: left;
  margin-left: 60px;
  margin-top: 70px;
  border-radius: 100px;
  border: 5px solid white;
  
}

button{
  block-size: 50px;
  width: 300px;
  cursor: pointer;
  color: white;
  background: #3F2314;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px;
  margin-left: 160px;
  font-family: cursive;
  margin-top: 50px;
}

button:hover, button:active{
  transition: 1s;
  color: #3F2314;
  cursor: pointer;
  box-shadow: #fff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
h2{
  font-size: 20px;
  color: black;
  text-align: center;
  border-radius: 20px;
  border: 5px solid palevioletred;
  font-family: Space Grotesk;
  
  

}
h3{
  padding-left: 70px;
  color: black;
}


h5{
  text-align: center;
  font-size: 20px;
  color: white;
  width: 1170px;
  height: 100px;
  margin-top: 100px;
  padding-top: 90px;
  padding-bottom: 10px;
  border-radius: 40px;
  text-emphasis-position: 50px;

}

#tk{
 text-align: center;
 background: wheat;
 height: 200px;
 color: purple;
 font-size: 30px;
 margin-top: 30px;
 
 font-family: 'Rubik Vinyl', cursive;
}

table{
  margin-top: 50px;
  margin-left: 230px;
  color: #000;
  width: 700px;
}



.token-content-wrap {
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.44);
  border-radius: 4px 4px 0 0;
  padding: 30px;
  transition: 0.3s linear;
  flex-direction: column;
  justify-content: center;
}
.social-media-icon{
  font-size: 2rem;
  text-decoration: none;
  border: 50px;
  padding-left: 50px;
}

.fa-brands:hover{
  color: darkorange;

}

.fa-brands{
  color: black;
  background-color: #fff;
  border-radius: 50px;
  margin: 10px;
  padding-left: 30px;
}

.figure img{
  border: 5px solid #fff;
  margin-top: 10px;
  margin-left: 10px;
  background: none;
  
}
 
footer{
  padding-bottom: 40px;
  margin-top: 0px;
  background: #000;
}



.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}
#check{
  display: none;
}


@media screen and (max-width: 600px) 
 {

  .wrapper-main{
     padding: 0%;
     margin: 0;
     margin-bottom: 0;
 }
 
 header{
  
  background: palevioletred;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  top: 0;
  display: flex;
  border-radius: 10px;
  

  
}
  
 

 h1{
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-size: 30px;
  text-shadow: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

h2{
  
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 15px solid palevioletred;
  height: 150px;
  
  

}

h3{
  text-align: center;
  background: #f79422;
  height: 80px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

h4{
  margin-top: 15.5%;
  color: #fff;
  padding-left: 5%;
  background: palevioletred;
  height: 320px;
  padding-top: 10px;
  border-radius: 10px;
  border: 10px solid green;
  font-family: 'Monoton', cursive;
  font-size: 17px;
  padding-bottom: 35px;
}
 



  .img-pep{
    
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 100px;
    border: 5px solid white;
    
  }
  button{
    block-size: 50px;
    width: 300px;
    cursor: pointer;
    color: white;
    background: #3F2314;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 80px;
    font-family: cursive;
    margin-top: 50px;
  }

  footer{
    padding-bottom: 100px;
    margin-top: 0px;
    background: #000;

  }
 
  h5{
    margin-top: 200px;
    padding-top: 20px;
    font-size: 15px;
    color: white;
    width: 530px;
    margin-left: 0;
    padding-right: 30px;
  }

  #tk{
    text-align: center;
    background: wheat;
    height: 200px;
    color: purple;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Rubik Vinyl', cursive;
   }
   
   table{
     margin-top: 50px;
     margin-left: 20px;
     color: #000;
     width: 500px;
   }
   
   nav{
    float: right;
    margin-top: none;
    padding-left: 290px;
    display: block;
  
   }
    
  
  
   nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    margin: 0;
  
  }
  
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.44);
    top: 80px;
    right: -150%;
    text-align: center;
    transition: all .5s;
  }
  
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  
  }
  
  nav ul li a{
    font-size: 20px;
  }
  .checkbtn{
    position: relative;
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: block;
    cursor: pointer;
  }


#check{
  display: none;
}
#check:checked ~ ul{
  right: 0;
}

}
 
@media screen and (max-width: 400px) 

{
  .wrapper-main{
    padding: 0%;
    margin: 0;
    margin-bottom: 0;
    width: 50%;
  } 
  
  header{
    position: fixed;
    background: palevioletred;
    padding-top: 0;
    margin-top: 0;
    width: 450;
    top: 0;
    display: flex;
    border-radius: 10px;
  }


h1{
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-size: 30px;
  text-shadow: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


h2{
  
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 15px solid palevioletred;
  height: 150px;


}

h3{
  text-align: center;
  background: #f79422;
  height: 80px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

h4{
  margin-top: 20.5%;
  color: #fff;
  padding-left: 5%;
  background: palevioletred;
  height: 100%;
  padding-top: 10px;
  border-radius: 10px;
  border: 10px solid green;
  font-size: 20px;
  padding-bottom: 35px;
  margin-bottom: 50px;
  

button{
  block-size: 50px;
  width: 300px;
  cursor: pointer;
  color: white;
  background: #3F2314;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  float: left;
  margin: 30px;
  margin-top: 0;
}

.token-content-wrap {
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.44);
  border-radius: 4px 4px 0 0;
  padding: 15px;
  transition: 0.3s linear;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 200px;
  padding-top: 80px;
}

.img-pep{
    
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 100px;
  border: 5px solid white;
  margin-right: 10px;

}

footer{
  padding-bottom: 100px;
  margin-top: 0px;
  background: #000;

}

h5{
  margin-top: 200px;
  padding-top: 20px;
  font-size: 15px;
  color: white;
  width: 400px;
  margin-left: 0;
  padding-right: 30px;
  margin-bottom: 30px;
}
.fa-brands{
  color: black;
  background-color: #fff;
  border-radius: 50px;
  margin: 10px;
  padding-left: 30px;
  margin-top: 30px;
}
#tk{
  text-align: center;
  background: wheat;
  height: 200px;
  color: purple;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Rubik Vinyl', cursive;
 }
 
 table{
   margin-top: 50px;
   margin-left: 15px;
   color: #000;
   width: 350px;
   font-size: 20px;
 }
 nav{
  float: right;
  padding-left: 40%;

 }
 
 nav li {
  display: block;

 }

 ul{
  top: 80px;
  position:fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.44);
  right: -100%;
  text-align: center;
  transition: all .5s;
 }

}
